<header role="banner">
    <div id="header" class="header">
        <div class="bg-triangle"></div>
        <div class="header-inner">

          <div class="logo">
              <a href="#">
                  <picture>
                      <img src="../assets/img/common/logo/logo.png" alt="">
                  </picture>
              </a>
          </div>

          {#     1er type de menu     #}
          <div class="main-menu">
            {#    1er niveeau    #}
            <ul class="first-lvl">
              <li class="has-submenu">
                <a href="#">Nos solutions</a>
                <ul class="second-lvl">
                  <a href="#" class="resp-link">Nos solutions</a>
                  <div class="close"></div>
                  <li><a href="#">lorem</a></li>
                  <li><a href="#">Ipsum</a></li>
                  <li><a href="#">Dolor sit amet</a></li>
                </ul>
              </li>
              <li class="has-submenu">
                <a href="#">Nos activités</a>
                {#    2ème niveau   #}
                <ul class="second-lvl">
                  <a href="#" class="resp-link">Nos activités</a>
                  <div class="close"></div>
                  <li><a href="#">Grande distribution et grossistes</a></li>
                  <li><a href="#">Pharmaceutique et cosmétique</a></li>
                  <li><a href="#">Agro-alimentaire et agricuture</a></li>
                  <li><a href="#">Logistique</a></li>
                  <li><a href="#">Industrie</a></li>
                  <li><a href="#">Evénementiel loisirs et restauration</a></li>
                </ul>
              </li>
              <li  class="has-submenu">
                <a href="#">Nos secteurs</a>
                <ul class="second-lvl">
                  <a href="#" class="resp-link">Nos secteurs</a>
                  <div class="close"></div>
                  <li><a href="#">Dolor sit amet</a></li>
                  <li><a href="#">lorem</a></li>
                  <li><a href="#">Ipsum</a></li>
                </ul>
              </li>
            </ul>
          </div>
            {#     Fin 1er type de menu     #}

            <div class="contact-buttons">
                <div class="tel">
                    {{ macros.svg('tel','white') }}
                    <p>04 82 29 55 94</p>
                </div>
                <div class="contact">
                    <a href="#">Demande de devis</a>
                </div>
            </div>

          {#     2ème type de menu, menu burger     #}
          <div class="burger-menu">
            <div class="burger">
              <div id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>

            <div class="switch-container inner-wrap">
              <div class="switch-buttons">
                <p data-switch="1">Frigo trading</p>
                <a href="#">Nos avantages</a>
                <p data-switch="2">Nos réalisations</p>
                <a href="#">Guide de location</a>
                <p data-switch="3">Actualités</p>
              </div>

              <div class="switch-content">
                <div class="switch-block" data-switch="1">
                  <ul>
                    <li><a href="#">Historique</a></li>
                    <li><a href="#">Notre équipe</a></li>
                    <li><a href="#">Notre activité</a></li>
                    <li><a href="#">Nos références / clients</a></li>
                    <li><a href="#">Carte des ports</a></li>
                  </ul>
                </div>
                <div class="switch-block" data-switch="2">
                  <ul>
                    <li><a href="#">Historique</a></li>
                    <li><a href="#">Notre équipe</a></li>
                    <li><a href="#">Notre activité</a></li>
                    <li><a href="#">Nos références / clients</a></li>
                    <li><a href="#">Carte des ports</a></li>
                  </ul>
                </div>
                <div class="switch-block" data-switch="3">
                  <ul>
                    <li><a href="#">Historique</a></li>
                    <li><a href="#">Notre équipe</a></li>
                    <li><a href="#">Notre activité</a></li>
                    <li><a href="#">Nos références / clients</a></li>
                    <li><a href="#">Carte des ports</a></li>
                  </ul>
                </div>
              </div>
                <div class="links-circle">
                    <div class="circle">
                        <a href="#">{{ macros.svg('linkedin','white') }}</a>
                    </div>
                    <div class="circle">
                        <a href="#">{{ macros.svg('youtube','white') }}</a>
                    </div>
                </div>
            </div>
          </div>
            {#      Fin menu burger      #}

            {#     TODO menu mobile à rajouter       #}
            <div class="burger-resp">
                <div class="burger">
                    <div id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
            {#    Menu mobile    #}
            <div class="menu-resp">

                {#        1er menu        #}
                <div class="first-menu">
                    <ul class="first-lvl-resp">
                        <li><a href="#">Nos solutions</a></li>
                        <li class="has-submenu">
                            <a href="#">Nos activités</a>
                            {#    2ème niveau   #}
                            <ul class="second-lvl-resp">
                                <div class="close-resp">Retour</div>
                                <a href="#" class="resp-link">Nos activités</a>
                                <li><a href="#">Grande distribution et grossistes</a></li>
                                <li><a href="#">Pharmaceutique et cosmétique</a></li>
                                <li><a href="#">Agro-alimentaire et agricuture</a></li>
                                <li><a href="#">Logistique</a></li>
                                <li><a href="#">Industrie</a></li>
                                <li><a href="#">Evénementiel loisirs et restauration</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Nos secteurs</a></li>
                    </ul>
                </div>

                {#        2ème menu, identique à celui du dessus        #}
                <div class="second-menu">
                    <ul class="first-lvl-resp">
                        <li class="has-submenu">
                            <a href="#">Frigo trading</a>
                            {#    2ème niveau   #}
                            <ul class="second-lvl-resp">
                                <div class="close-resp">Retour</div>
                                <a href="#" class="resp-link">Frigo trading</a>
                                <li><a href="#">Historique</a></li>
                                <li><a href="#">Notre équipe</a></li>
                                <li><a href="#">Notre activité</a></li>
                                <li><a href="#">Nos références / clients</a></li>
                                <li><a href="#">Carte des ports</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Nos avantages</a>
                            {#    2ème niveau   #}
                            <ul class="second-lvl">
                                <div class="close-resp">Retour</div>
                                <a href="#" class="resp-link">Nos avantages</a>
                                <li><a href="#">Lien 1</a></li>
                                <li><a href="#">Lien 2</a></li>
                                <li><a href="#">Lien 3</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Nos réalisations</a></li>
                        <li><a href="#">Guide de location</a></li>
                        <li><a href="#">Actualités</a></li>
                    </ul>
                </div>

                {#         Les boutons sont identiques au menu desktop       #}
                <div class="links-contact">
                    <div class="contact-buttons">
                        <div class="tel">
                            {{ macros.svg('tel','white') }}
                            <p>04 82 29 55 94</p>
                        </div>
                        <div class="contact">
                            <a href="#">Demande de devis</a>
                        </div>
                    </div>
                    <div class="links-circle">
                        <div class="circle">
                            <a href="#" class="a-button">{{ macros.svg('linkedin','white') }}</a>
                        </div>
                        <div class="circle">
                            <a href="#" class="a-button">{{ macros.svg('youtube','white') }}</a>
                        </div>
                    </div>
                </div>

            </div>
            {#     Fin TODO menu mobile à rajouter       #}

        </div>
    </div>
</header>
