{% import '_macros.twig' as macros %}

<div class="img-columns inner-wrap {% if module.position_du_texte %} text-left {% endif %}">
    <div class="img js-item-inview opacity-transition">
        <picture>
            <img src="{{ module.image.url }}" alt="{{ module.image.alt }}">
        </picture>
    </div>
    <div class="text js-item-inview opacity-transition has-delay">
        <p class="theme">{{ module.petit_titre }}</p>
        <h3 class="a-title-2">{{ module.titre }}</h3>
        <p class="desc">
            {{ module.description }}
        </p>
        <a href="{{ module.lien.link }}" class="a-button as--grey-4"><span>{{ module.lien.title }}</span></a>
    </div>
</div>