{% import '_macros.twig' as macros %}

{#<pre>#}
{#{{ dump(main_menu) }}#}
{#</pre>#}

<header role="banner">
  <div id="header" class="header">
    <div class="bg-triangle"></div>
    <div class="header-inner">

      <div class="logo">
        <a href="#">
          <picture>
            <img src="{{ options.logo.url }}" alt="{{ options.logo.alt }}">
          </picture>
        </a>
      </div>

      {#     1er type de menu     #}
      <div class="main-menu">
        {#    1er niveeau    #}
        <ul class="first-lvl">
          {% for item in main_menu.items %}
              <li class="has-submenu">
                <a href="{{ item.link }}">{{ item.title }}</a>
                <ul class="second-lvl">
                  <a href="#" class="resp-link">{{ item.title }}</a>
                  <div class="close"></div>
                  {% for child in item.children %}
                    <li><a href="{{ child.link }}">{{ child.title }}</a></li>
                  {% endfor %}
                </ul>
              </li>
          {% endfor %}
        </ul>
      </div>
      {#     Fin 1er type de menu     #}

      <div class="contact-buttons">
        <div class="tel">
          {{ macros.svg('tel','white') }}
          <p>{{ options.numero_de_telephone }}</p>
        </div>
        <div class="contact">
          <a href="#">Demande de devis</a>
        </div>
      </div>

      {#     2ème type de menu, menu burger     #}
      <div class="burger-menu">
        <div class="burger">
          <div id="nav-icon">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>


        <div class="switch-container inner-wrap">
          <div class="switch-buttons">
            {% for item in top_menu.items %}
              {% if item.children %}
                <p data-switch="{{ item.id }}">{{ item.title }}</p>
              {% else %}
                <a href="{{ item.slug }}">{{ item.title }}</a>
              {% endif %}
            {% endfor %}
          </div>

          <div class="switch-content">
          {% for item in top_menu.items %}
            {% if item.children %}
                <div class="switch-block" data-switch="{{ item.id }}">
                  <ul>
                    {% for child in item.children %}
                      <li><a href="{{ child.link }}">{{ child.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
            {% endif %}
          {% endfor %}
          </div>
        </div>

          <div class="links-circle">
            <div class="circle">
              <a href="#">{{ macros.svg('linkedin','white') }}</a>
            </div>
            <div class="circle">
              <a href="#">{{ macros.svg('youtube','white') }}</a>
            </div>
          </div>
        </div>
      </div>
      {#      Fin menu burger      #}


    </div>
  </div>
</header>




