{%- extends '../layout/pages.twig' -%}
{% set pageTitle = 'Détail produit' %}
{% set pageTemplate = 'detail-produit' %}
{% set pageClass = 'detail-produit' %}


{%- block mainContent %}

    <div class="sticky-bg bg-left-edito"><div class="bg-img"></div></div>
    <div class="sticky-bg bg-right-edito"><div class="bg-img"></div></div>

    <aside>
        <div class="column-sticky">
            <div class="devis">
                <a href="#">
                    {{ macros.svg('doc','30','white') }}
                    <p>Demande de devis</p>
                </a>
            </div>
            <div class="contact">
                <a href="#">
                    {{ macros.svg('mail','30','white') }}
                    <p>Contactez nous !</p>
                </a>
            </div>
        </div>
    </aside>

    <div class="title-detail">
        <div class="bg-triangle"></div>
        <div class="flex-columns inner-wrap">
            <div class="title-edito js-item-inview opacity-transition">
                <h1>Containers frigorifiques</h1>
                <p class="subtitle">Lorem ipsum dolor sit amet, consetetur sa
                    dipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua.
                    At vero eos et accusam et justo duo dolores.
                </p>
            </div>

            {#  Attention, slider différent des autres pages #}
            <div class="main-slider product-slider">
                <div class="triangle-counter">
                    <div class="slick-prev">{{ macros.svg('arrow-white','30','white') }}</div>
                    <div class="counter-slider"></div>
                    <div class="slick-next">{{ macros.svg('arrow-white','30','white') }}</div>
                </div>
                <div class="slider-img js-item-inview opacity-transition has-delay">

                    <div class="slider-wrap">
                        <div class="slide">
                            <a href="#">
                                <div class="img">
                                    <picture>
                                        <img src="../assets/img/upload/exemple.png" alt="">
                                    </picture>
                                </div>
                            </a>
                        </div>
                        <div class="slide">
                            <a href="#">
                                <div class="img">
                                    <picture>
                                        <img src="../assets/img/upload/exemple.png" alt="">
                                    </picture>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="details-product js-item-inview opacity-transition">
                    <div class="columns-picts">
                        <div class="pict palette">
                            {{ macros.svg('palette','30','white') }}
                            <p>4 palettes euros</p>
                        </div>
                        <div class="pict volume">
                            {{ macros.svg('volume','30','white') }}
                            <p>4 palettes euros</p>
                        </div>
                        <div class="pict surface">
                            {{ macros.svg('surface','30','white') }}
                            <p>4 palettes euros</p>
                        </div>
                        <div class="pict longueur">
                            {{ macros.svg('longueur','30','white') }}
                            <p>4 palettes euros</p>
                        </div>
                    </div>

                    <div class="download-pdf">
                        <p class="pop-in-button a-button as--grey-4" data-target=".pop-in-pdf"><span>Télécharger la fiche technique</span></p>
                    </div>

                    <div class="pop-in-pdf pop-in">
                        <div class="close">X</div>
                        <form action="">
                            <label for="input">Votre e-mail</label>
                            <input name="input_16" id="input_1_16" type="text" value="" class="medium" tabindex="3" aria-required="true" aria-invalid="false">
                            <input type="submit" value="submit">
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="switch-container inner-wrap">
        <div class="switch-buttons">
            <p class="is-active" data-switch="1">Description</p>
            <p data-switch="2">Options</p>
            <p data-switch="3">Certificats / Normes</p>
            <p data-switch="4">Contactez-nous</p>
        </div>

        <div class="switch-content">
            <div class="switch-block js-item-inview is-active" data-switch="1">
                <div class="text js-item-inview opacity-transition editor-wysiwyg">
                    <h2>Kikoolol je suis encore un titre h2 mdr</h2>
                    <h3>Kikoolol je suis encore un titre h3 xD des barres !</h3>
                    <h4>Titre h4 mdr lolilol</h4>
                    <p>
                        s unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperia
                        m, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt e
                        xplicabo <a href="#">laudantium, totam rem</a> aperiam, eaque ipsa quae ab illo inventore. Sed ut perspiciati
                        s unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperi
                        am, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dic
                    </p>
                    <ul>
                        <li><a href="#">liste 1</a></li>
                        <li><a href="#">liste 1</a></li>
                        <li><a href="#">liste 1</a></li>
                        <li><a href="#">liste 1</a></li>
                        <li><a href="#">liste 1</a></li>
                        <li><a href="#">liste 1</a></li>
                    </ul>
                </div>

                <div class="inner-wrap block-accordeon js-item-inview opacity-transition">
                    <div class="tabs">
                        <div class="tab">
                            <input type="checkbox" id="chck1">
                            <label class="tab-label" for="chck1">{{ macros.svg('cube','30','white') }}Item 1</label>
                            <div class="tab-content editor-wysiwyg">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                                </p>
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostru
                                        m obcaecati quibusdam tempore. Aspernatur consectetur dignissimos d
                                        oloribus dolorum est facilis iste, molestiae nihil non nostrum numquam qui rerum sit suscipit, voluptatibus .
                                    </li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostru
                                        m obcaecati quibusdam tempore. Aspernatur consectetur dignissimos d
                                        oloribus dolorum est facilis iste, molestiae nihil non nostrum numquam qui rerum sit suscipit, voluptatibus .
                                    </li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostru
                                        m obcaecati quibusdam tempore. Aspernatur consectetur dignissimos d
                                        oloribus dolorum est facilis iste, molestiae nihil non nostrum numquam qui rerum sit suscipit, voluptatibus .
                                    </li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostru
                                        m obcaecati quibusdam tempore. Aspernatur consectetur dignissimos d
                                        oloribus dolorum est facilis iste, molestiae nihil non nostrum numquam qui rerum sit suscipit, voluptatibus .
                                    </li>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostru
                                        m obcaecati quibusdam tempore. Aspernatur consectetur dignissimos d
                                        oloribus dolorum est facilis iste, molestiae nihil non nostrum numquam qui rerum sit suscipit, voluptatibus .
                                    </li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet
                                    <a href="#"> consequuntur debitis</a> doloremque earum expedita fuga illo ita
                                    que labore laudantium minima placeat quaerat quia quisquam soluta sunt unde, vel. Eveniet.
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck2">
                            <label class="tab-label" for="chck2">{{ macros.svg('eclair','30','white') }}Item 2</label>
                            <div class="tab-content editor-wysiwyg">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck2">
                            <label class="tab-label" for="chck2">{{ macros.svg('temperature','30','white') }}Item 2</label>
                            <div class="tab-content editor-wysiwyg">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck2">
                            <label class="tab-label" for="chck2">{{ macros.svg('palette-bis','30','white') }}Item 2</label>
                            <div class="tab-content editor-wysiwyg">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                                </p>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="checkbox" id="chck2">
                            <label class="tab-label" for="chck2">{{ macros.svg('prise','30','white') }}Item 2</label>
                            <div class="tab-content editor-wysiwyg">
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="img">
                        <picture>
                            <img src="../assets/img/common/pict/depannage.png" alt="">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="switch-block js-item-inview" data-switch="2">
                <div class="js-item-inview opacity-transition">
                    {# bloc identique à l'édito, Modifier classe columns-2 pour afficher 2 , 3 ou 4 colonnes #}
                    <div class="columns-text inner-wrap columns-2">
                        <div class="column js-item-inview opacity-transition">
                            <div class="text editor-wysiwyg">
                                <h2>Kikoolol je suis encore un titre h2 mdr</h2>
                                <h3>Kikoolol je suis encore un titre h3 xD des barres !</h3>
                                <h4>Titre h4 mdr lolilol</h4>
                                <p>
                                    s unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperia
                                    m, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt e
                                    xplicabo <a href="#">laudantium, totam rem</a> aperiam, eaque ipsa quae ab illo inventore. Sed ut perspiciati
                                    s unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperi
                                    am, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dic
                                </p>
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consectetur a
                                        dipisicing elit. Aliquam asperiores dolor et mi
                                        nima mollitia repudiandae suscipit voluptatibus?
                                        Aperiam eveniet fugiat molestiae, nemo, odit pers
                                        piciatis quia, quis repellendus rerum sequi soluta.</li>
                                    <li>periam eveniet fugiat molestiae, nemo, odit pers
                                        piciatis quia, quis repellendus rerum sequi soluta.</li>
                                </ul>
                            </div>
                        </div>

                        <div class="column js-item-inview opacity-transition">
                            <div class="text editor-wysiwyg">
                                <h2>Kikoolol je suis encore un titre h2 mdr</h2>
                                <h3>Kikoolol je suis encore un titre h3 xD des barres !</h3>
                                <p>
                                    s unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperia
                                    m, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt e
                                    xplicabo <a href="#">laudantium, totam rem</a> aperiam, eaque ipsa quae ab illo inventore. Sed ut perspiciati
                                    s unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperi
                                    am, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dic
                                </p>
                                <ul>
                                    <li><a href="#">liste 1</a></li>
                                    <li><a href="#">liste 1</a></li>
                                    <li><a href="#">liste 1</a></li>
                                    <li><a href="#">liste 1</a></li>
                                    <li><a href="#">liste 1</a></li>
                                    <li><a href="#">liste 1</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="switch-block js-item-inview" data-switch="3">
                <div class="column js-item-inview opacity-transition">

                    <div class="text editor-wysiwyg">
                        <h2>Kikoolol je suis encore un titre h2 mdr</h2>
                        <h3>Kikoolol je suis encore un titre h3 xD des barres !</h3>
                        <h4>Titre h4 mdr lolilol</h4>
                        <p>
                            s unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperia
                            m, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt e
                            xplicabo <a href="#">laudantium, totam rem</a> aperiam, eaque ipsa quae ab illo inventore. Sed ut perspiciati
                            s unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperi
                            am, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dic
                        </p>
                        <ul>
                            <li>Lorem ipsum dolor sit amet, consectetur a
                                dipisicing elit. Aliquam asperiores dolor et mi
                                nima mollitia repudiandae suscipit voluptatibus?
                                Aperiam eveniet fugiat molestiae, nemo, odit pers
                                piciatis quia, quis repellendus rerum sequi soluta.</li>
                            <li>periam eveniet fugiat molestiae, nemo, odit pers
                                piciatis quia, quis repellendus rerum sequi soluta.</li>
                        </ul>
                    </div>

                    <div class="hexagone-form">
                        <div class="hexagone">
                            <div class="text">
                                <div class="content-text">
                                    <span>Attestation de</span>
                                    <p>Capacité</p>
                                </div>
                            </div>
                            <p class="subtext">Frigoriste interne de qualité</p>
                        </div>

                        <div class="hexagone">
                            <div class="text">
                                <div class="content-text">
                                    <span>15947</span>
                                    <p>CERFA</p>
                                </div>
                            </div>
                            <p class="subtext">Frigoriste interne de qualité</p>
                        </div>


                        <div class="hexagone">
                            <div class="text">
                                <div class="content-text">
                                    <span>Adapté</span>
                                    <p>HACCP</p>
                                </div>
                            </div>
                            <p class="subtext">Frigoriste interne de qualité</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="switch-block js-item-inview" data-switch="4">
                <div class="column js-item-inview opacity-transition">

                    <div class="text editor-wysiwyg">
                        <h2>Siège social Frigo Trading</h2>
                        <p>215 rue Georges Charpak - Technoparc - 01390 CIVRIEUX - Tél : 04 74 14 06 84</p>
                    </div>

                    <div class="hexagone-form with-img">

                        <div class="hexagone">
                            <div class="left">
                                <div class="text">
                                    <div class="content-text"></div>
                                </div>
                                <picture>
                                    <img src="../assets/img/upload/profil.png" alt="">
                                </picture>
                            </div>
                            <div class="right editor-wysiwyg">
                                <p>Votre chargé d'affaire</p>
                                <p class="name">Nils le DarkSasuke du web</p>
                                <a href="#" class="a-button as--grey-4"><span>Contactez-moi !</span></a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>




{% endblock mainContent -%}
