{%- extends '../layout/pages.twig' -%}
{% set pageTitle = 'edito' %}
{% set pageTemplate = 'edito' %}
{% set pageClass = 'edito' %}


{%- block mainContent %}

    <div class="sticky-bg bg-left-edito"><div class="bg-img"></div></div>
    <div class="sticky-bg bg-right-edito"><div class="bg-img"></div></div>

    <aside>
        <div class="column-sticky">
            <div class="devis">
                <a href="#">
                    {{ macros.svg('doc','30','white') }}
                    <p>Demande de devis</p>
                </a>
            </div>
            <div class="contact">
                <a href="#">
                    {{ macros.svg('mail','30','white') }}
                    <p>Contactez nous !</p>
                </a>
            </div>
        </div>
    </aside>


    <div class="main-slider">
        <div class="bg-triangle"></div>
        <div class="slider-img js-item-inview opacity-transition">
            <div class="slider-wrap">
                <div class="slide">
                    <a href="#">
                        <div class="img">
                            <picture>
                                <img src="../assets/img/upload/exemple.png" alt="">
                            </picture>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="title-edito inner-wrap js-item-inview opacity-transition">
        <h1>Page éditoriale</h1>
        <p class="subtitle">Lorem ipsum dolor sit amet, consetetur sa
            dipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            labore et dolore magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et justo duo dolores.
        </p>
    </div>

    {#  Tous les blocks edito doivent être dans le sub-wrap  #}
    <div class="sub-wrap">

        <div class="text-solo">
            <div class="editor-wysiwyg">
                <h2>Titre h2</h2>
                <h3>Titre h3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicin
                    g elit. Neque perspiciatis placeat quas voluptatem. Ap
                    eriam aut cupiditate eos, incidunt nisi numquam perfe
                    rendis? A deleniti eaq
                    ue earum eligendi exercitationem ipsam libero provident.
                </p>
                <ul>
                    <li>zezezezezezezea</li>
                    <li>zezezezezezezea</li>
                    <li><a href="#">ddfssefesf</a></li>
                    <li>zezezezezezezea</li>
                    <li>zezezezezezezea</li>
                </ul>
            </div>
        </div>

        <div class="img-white-text inner-wrap">
            <div class="img js-item-inview opacity-transition">
                <picture>
                    <img src="../assets/img/upload/exemple.png" alt="">
                </picture>
            </div>
            <div class="text js-item-inview opacity-transition has-delay">
                <h3>Titre bien relou sur deux lignes de son père</h3>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam,
                    aut consectetur consequatur culpa cumque cupiditate dolorem earum e
                    t explicabo ipsam labore minus omnis possimus sapiente sed tempora tempore temporibus voluptates.
                </p>
                <a href="#" class="a-button as--grey-4"><span>En savoir plus</span></a>
            </div>
        </div>

        {# block d'img full width avec texte à droite, pour mettre texte à gauche, rajouter class "text-left" au niveau du inner-wrap #}
        <div class="img-white-text inner-wrap text-left">
            <div class="img js-item-inview opacity-transition">
                <picture>
                    <img src="../assets/img/upload/exemple.png" alt="">
                </picture>
            </div>
            <div class="text js-item-inview opacity-transition has-delay">
                <h3>Titre bien relou sur deux lignes de son père</h3>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam,
                    aut consectetur consequatur culpa cumque cupiditate dolorem earum e
                    t explicabo ipsam labore minus omnis possimus sapiente sed tempora tempore temporibus voluptates.
                </p>
                <a href="#" class="a-button as--grey-4"><span>En savoir plus</span></a>
            </div>
        </div>

        {# Modifier classe columns-2 pour afficher 2 , 3 ou 4 colonnes #}
        <div class="columns-text inner-wrap columns-2">
            <div class="column js-item-inview opacity-transition">
                <div class="img">
                    <picture>
                        <img src="../assets/img/upload/exemple.png" alt="">
                    </picture>
                </div>
                <div class="text editor-wysiwyg">
                    <h2>Kikoolol je suis encore un titre h2 mdr</h2>
                    <h3>Kikoolol je suis encore un titre h3 xD des barres !</h3>
                    <h4>Titre h4 mdr lolilol</h4>
                    <p class="blue-title">Titre en bleu</p>
                    <p>
                        s unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperia
                        m, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt e
                        xplicabo <a href="#">laudantium, totam rem</a> aperiam, eaque ipsa quae ab illo inventore. Sed ut perspiciati
                        s unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperi
                        am, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dic
                    </p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur a
                            dipisicing elit. Aliquam asperiores dolor et mi
                            nima mollitia repudiandae suscipit voluptatibus?
                            Aperiam eveniet fugiat molestiae, nemo, odit pers
                            piciatis quia, quis repellendus rerum sequi soluta.</li>
                        <li>periam eveniet fugiat molestiae, nemo, odit pers
                            piciatis quia, quis repellendus rerum sequi soluta.</li>
                    </ul>
                </div>
                <a href="#" class="a-button as--grey-4"><span>Bouton</span></a>
            </div>

            <div class="column js-item-inview opacity-transition">
                <div class="text editor-wysiwyg">
                    <h2>Kikoolol je suis encore un titre h2 mdr</h2>
                    <h3>Kikoolol je suis encore un titre h3 xD des barres !</h3>
                    <p>
                        s unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperia
                        m, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt e
                        xplicabo <a href="#">laudantium, totam rem</a> aperiam, eaque ipsa quae ab illo inventore. Sed ut perspiciati
                        s unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperi
                        am, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dic
                    </p>
                    <ul>
                        <li><a href="#">liste 1</a></li>
                        <li><a href="#">liste 1</a></li>
                        <li><a href="#">liste 1</a></li>
                        <li><a href="#">liste 1</a></li>
                        <li><a href="#">liste 1</a></li>
                        <li><a href="#">liste 1</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="block-citation inner-wrap">
            <h2 class="js-item-inview opacity-transition">Module citation</h2>
            <p class="citation js-item-inview opacity-transition">
                Pour savoir si y a du vent, il faut mettre son doigt dans le cul du coq.
            </p>
        </div>

        {# block  de colonnes avec texte à droite, pour mettre texte à gauche, rajouter class "text-left" au niveau du inner-wrap #}
        <div class="img-columns inner-wrap">
            <div class="img js-item-inview opacity-transition">
                <picture>
                    <img src="../assets/img/upload/exemple.png" alt="">
                </picture>
            </div>
            <div class="text js-item-inview opacity-transition has-delay">
                <p class="theme">Simulation thème</p>
                <h3 class="a-title-2">Titre bien relou sur deux lignes de son père</h3>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam,
                    aut consectetur consequatur culpa cumque cupiditate dolorem earum e
                    t explicabo ipsam labore minus omnis possimus sapiente sed tempora tempore temporibus voluptates.
                </p>
                <a href="#" class="a-button as--grey-4"><span>En savoir plus</span></a>
            </div>
        </div>

        <div class="img-columns inner-wrap text-left">
            <div class="img js-item-inview opacity-transition">
                <picture>
                    <img src="../assets/img/upload/exemple.png" alt="">
                </picture>
            </div>
            <div class="text js-item-inview opacity-transition has-delay">
                <p class="theme">Simulation thème</p>
                <h3 class="a-title-2">Titre bien relou sur deux lignes de son père</h3>
                <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam,
                    aut consectetur consequatur culpa cumque cupiditate dolorem earum e
                    t explicabo ipsam labore minus omnis possimus sapiente sed tempora tempore temporibus voluptates.
                </p>
                <a href="#" class="a-button as--grey-4"><span>En savoir plus</span></a>
            </div>
        </div>

        <div class="slider-multimedia inner-wrap js-item-inview opacity-transition">
            <h2>Slider img/video</h2>

            <div class="slick-slider">
                <div class="slick-prev">{{ macros.svg('arrow-white','30','white') }}</div>
                <div class="slick-next">{{ macros.svg('arrow-white','30','white') }}</div>
                <div class="slider-wrap">

                    <div class="slide">
                        <div class="video">
                            <div class="overlay"></div>
                            <div>
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/xWUdlIDysXk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="slide">
                        <div class="img">
                            <picture>
                                <img src="../assets/img/upload/exemple.png" alt="">
                            </picture>
                        </div>
                    </div>

                    <div class="slide">
                        <div class="img">
                            <picture>
                                <img src="../assets/img/upload/exemple.png" alt="">
                            </picture>
                        </div>
                    </div>

                    <div class="slide">
                        <div class="video">
                            <div class="overlay"></div>
                            <div>
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/xWUdlIDysXk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="slider-key-number inner-wrap">
            <h2>Slider chiffre clés</h2>
            <div class="slick-prev">{{ macros.svg('arrow-white','30','white') }}</div>
            <div class="slick-next">{{ macros.svg('arrow-white','30','white') }}</div>
            <div class="slider-wrap">

                {# slides avec img ou chiffres #}
                <div class="slide">
                    <p class="key-number">325 m²</p>
                    <p class="text">D'énergie dépensée pour faire l'inté</p>
                </div>

                <div class="slide">
                    <p class="key-number">-25C° à 25C°</p>
                    <div class="img">
                      <img src="../assets/img/upload/exemple.png" alt="">
                    </div>
                </div>

                <div class="slide">
                  <div class="img">
                    <img src="../assets/img/upload/exemple.png" alt="">
                  </div>
                    <p class="text">nombre de kicks dans ta tête</p>
                </div>

                <div class="slide">
                    <p class="key-number">2500</p>
                    <p class="text">nombre de kicks dans ta tête</p>
                </div>

                <div class="slide">
                    <p class="key-number">2500</p>
                    <p class="text">nombre de kicks dans ta tête</p>
                </div>

            </div>
        </div>

        <table>

            <tr>
                <th colspan="2">Salles</th>
                <th colspan="2">Revêtement</th>
                <th colspan="2">Surface m2</th>
            </tr>
            <tr>
                <td>The table body</td>
                <td>with two columns</td>
                <td>The table body</td>
                <td>with two columns</td>
                <td>The table body</td>
                <td>with two columns</td>
            </tr>
            <tr>
                <td>The table body</td>
                <td>with two columns</td>
                <td>The table body</td>
                <td>with two columns</td>
                <td>The table body</td>
                <td>with two columns</td>
            </tr>

        </table>

    </div>





{% endblock mainContent -%}
